.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  cursor: pointer;
}

.item__link {
  font-size: 12px;
  color: var(--color-link);
  text-decoration: none;
}

.item__title {
  color: var(--color-title);
  margin: 6px 0px;
  font-size: 20px;
}

.item__description {
  margin: 0;
  color: var(--color-description);
  font-size: 14px;
}