.search-input__search {
  width: 320px;
  border-radius: 20px;
  height: 35px;
  padding-left: 36px;
  padding-right: 32px;
  border: 1px solid var(--color-border-tertiary);
  outline: none;
}

.search-input__icon--close {
  position: absolute;
  right: 18px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  fill: var(--color-icon);
}

.search-input {
  position: relative;
  padding: 18px 6px;
  max-width: 385px;
}

.search-input__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 22px;
  fill: var(--color-icon);
}

.search-figure {
  text-align: center;
}