.paginator {
  display: flex;
  align-items: center;
  color: var(--color-paginator);
  justify-content: center;
  margin-bottom: 18px;
}

.paginator-pages {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0px 32px;
}

.paginator-prev, 
.paginator-next {
  cursor: pointer;
}

.paginator-pages__number {
  margin-left: 0px;
  border: none;
  background: initial;
  cursor: pointer;
  color: var(--color-paginator);
}

.paginator-pages__number.active {
  color: var(--color-black);
}